<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <machineKey decryption="Auto" decryptionKey="706212408C862A7530C879CDFE6313BEE6F5BFF021CBC7E6" validation="SHA1" validationKey="D18E7528D00A2267D92ED9A702F1DCBD45E0E4F261FCF4E4B19A265D4C47284444F0766DFCBBBE93B5BC68A7864DEFB83E245A130012B003EFC9CAA2065B3001" />
    </system.web>
  <system.net>
    <mailSettings>
      <smtp from="info@myasp.info">
        <network host="YourSmtpUrl" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="MailFrom" value="infobportnow@gmail.com" />
    <add key="MailTo" value="bportnow@gmail.com" />
  </appSettings>
</configuration>
